<!DOCTYPE html>
<html>
<head>
	<title>Mon Site Simon Delannoy</title>
  {# 	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> #}
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

</head>
<body>

<!-- Navigation -->
  <nav class="navbar">
      <a href="#">Accueil</a>
      <a href="#">Outils</a>
      <a href="#">Experience</a>
      <a href="#">Portofolio</a>
      <a href="#">Loisirs</a>
      <a href="#">Contact</a>
  </nav>

  <!-- Masthead -->
  <header>
    <div class="header-left">
      <span>Dev-Web</span>
    </div>

    <div class="header-right">
      <span>Hello, I am Simon</span>
    </div>

    <div class="header-text">
    Ancien responsable logistique, j’ai entrepris une reconversion professionnel il y a 4 ans. Développeur-Web confirmé depuis 3 ans, je suis passionnée par les nouvelles technologies depuis 20 ans.
    </div>  
  </header>

