{% set title = 'Mon site' %}
{% set description = "Mon site" %}

{% extends 'templates/skeleton.twig' %}

{% block content %}
	<div class="experience">
		<h2>Mon Experience</h2>

		<div class="experience-left">
			<h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
 		</div>
 		<div class="experience-right">
 			<img src="/img/experience.png">
 		</div>
	</div>

	<div class="outil">
		<h2>Mes outils</h2>
		
		<div class="outil-box">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
 		</div>
	</div>

	<div class="portofolio">
		<h2 class"header-left">portofolio</h2>
	</div>


{% endblock %}

{% block js %}
{% endblock %}

